<p class="break"></p>
<p>Configure the transactor below.</p>
<form action="{{ path('admin_transactor_configure', { 'type' : type }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit">Create Transactor</button>
    </p>
</form>
