{% extends '::base.html.twig' %}

{% block subtitle %}Configure Transactor{% endblock %}

{% block panel %}
  {{ panel(
    { 'label' : 'Transactors', 'icon' : 'icon2570' },
    { 'label' : 'New Transactor', 'icon' : 'icon2546' }
  ) }}
{% endblock %}

{% block content %}
<h1>Configure New Transactor</h1>

<form action="{{ path('admin_transactor_configure', { 'type' : type }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit">Create Transactor</button>
    </p>
</form>
{% endblock %}
