{% extends 'ModelInterfaceBundle:Admin\\Customer:base.html.twig' %}

{% block panel %}
  {{ panel(
    { 'label' : 'Transactors', 'icon' : 'icon2570' },
    { 'label' : 'New Transactor', 'icon' : 'icon2546', 'link' : path('transactor_new') }
  ) }}
{% endblock %}

{% block content %}
<h1>Transactors</h1>

{{ paginate(paginator) }}
{% endblock %}