{% extends '::listing_base.html.twig' %}

{% block subtitle %}Transactors{% endblock %}

{% block content_header %}<div class="large-icon transactors"></div><h1>Transactors</h1>{% endblock %}

{% block inner_header %}
<h2>Transactors</h2>
{% endblock %}