{% extends '::base.html.twig' %}

{% block subtitle %}Transactors{% endblock %}

{% block content_header %}<h1>Transactors</h1>{% endblock %}

{% block content %}
<div id="inner-header"><h2>Transactors</h2></div>

{{ listing.render | raw }}
{% endblock %}