{% extends '::base.html.twig' %}

{% block subtitle %}New Transactor{% endblock %}

{% block panel %}
  {{ panel(
    { 'label' : 'Transactors', 'icon' : 'icon2570' },
    { 'label' : 'New Transactor', 'icon' : 'icon2546' }
  ) }}
{% endblock %}

{% block content %}
<h1>New Transactor</h1>
<p>Select the platform for the new transactor.</p>
<form action="{{ path('transactor_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p class="form-buttons">
        <button type="submit">Next</button>
    </p>
</form>
{% endblock %}
