{% extends '::popup_base.html.twig' %}

{% block header %}New Transactor{% endblock %}

{% block body %}
<p>Select the platform for the new transactor.</p>
<form action="{{ path('admin_transactor_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>
<script type="text/javascript">
$(function() {
  $('#orkestra_transactorselecttype_type').change(function() {
    console.log('hello');
    ui.load({
      url : ui.route('{{ path('admin_transactor_configure', { 'type' : '_type_' }) }}', { '_type_' : $(this).val() }),
      success : function(data) {
        ui.modal.append(data);
      }
    })
  })
});
</script>
{% endblock %}